body, div {
  display: grid; }

body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  perspective: 35em;
  background: #262626;
  animation: a 12s ease-in-out infinite alternate; }

@keyframes a {
  90%, 100% {
    perspective: 5em; } }

div {
  transform-style: preserve-3d; }

.dot {
  --m: calc(.5*(var(--n-dots) - 1));
  --abs: Max(calc(var(--m) - var(--j)), calc(var(--j) - var(--m)));
  --f: calc(1.05 - var(--abs)/var(--m));
  --k: calc(var(--n-rots)*var(--j)/(var(--n-dots) - 1));
  --ay: calc((var(--i) - var(--k))/var(--n-arms)*1turn);
  --az: calc((var(--j) + .5)/var(--n-dots)*.5turn - 90deg);
  grid-area: 1/ 1;
  place-self: center;
  padding: calc(var(--f)*0.5em);
  border-radius: 50%;
  transform: rotatey(var(--ay)) rotatez(var(--az)) translate(10em) rotatez(calc(-1*var(--az))) rotatey(calc(-1*var(--ay)));
  background: radial-gradient(circle at 25% 25%, #fff, rgba(255, 255, 255, 0) 75%) hsl(calc(2*var(--j)/var(--n-dots)*360), 100%, 35%); }
